<div class="container">
    <h1>TEXTO VAI SER COLOCADO AQUI</h1>
    <div class="cards">
        <% @posts.each do |post| %> 
            <div class="card-trip">
                <%= image_tag(post.photo) %>
                <div class="card-trip-infos">
                    <%= post.description  %>
                </div>
            </div>
        <%end%>
    </div>
</div>